.airports {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  list-style: none;
}

.airports__summary {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .airports__summary {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .airports__summary {
    width: 50%;
  }
}
